<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, eos et quisquam nihil molestiae cupiditate. Impedit in adipisci ex doloribus, consequatur hic magnam at harum, fugit illum dolore non alias ratione vitae modi! Blanditiis, possimus. Eum quam quia esse exercitationem.</p>
    </div>
</div>